	/* hide everything when working outside */
		/* #logo, .fa.fa-phone, .clean_title {
		display: none!important;
		}
		*/
		/* content services */
		    .content.cleaning {
            background-color: rgba(207, 52, 52, 0.8);
            }
            .content.cleaning h2, .content.cleaning p, .content.cleaning a {
            color: white;
            }
            /* content build */
            .content.build {
            background-color: rgba(139, 58, 58, 0.8);
            }
            .content.build h2, .content.build p, .content.build a {
            color: white;
            }
            /* content repair */
            .content.repair {
            background-color: rgba(57, 146, 163, 0.89)
            ;
            }
            .content.repair h2, .content.repair p, .content.repair a {
            color: white;
            }
            /* end */
            /* red line*/
            /* red line end */
            /* red line end */
            /* works both mouse and touch */
            li {
            text-align: left;
            }
            ul {
            text-align: left;
            }
            body {
            background-color: #fff;
            background-size: cover;
            margin: 0;
            font-family: "proximo-nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 0;
            min-height: 100%;
            position: relative;
            }
            html {
            background-color: #f3f3f3;
            scroll-behavior: smooth;
            }
            /* tap to call */
            /* header */
            /* @media (max-width: 770px) {
            #slider_mobile {
            height: 54.5vw!important;
            }
            }
            */
            ul {
            padding-inline-start: 0px;
            }
            /* header END */
            /* slider */
            /* responsive slider_img */
            /* responsive slider */
            /* html5up css */
            @import url(style/fontawesome-all.min.css);
            @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");
            /*
            Story by HTML5 UP
            html5up.net | @ajlkn
            Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
            */
            html, body, div, h2, p, a, img, ul, li, section {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;}
            section {
            display: block;}
            body {
            line-height: 1;
            }
            ul {
            list-style: none;
            }
            body {
            -webkit-text-size-adjust: none;
            }
            /* Basic */
            @-ms-viewport {
            width: device-width;
            }
            body {
            -ms-overflow-style: scrollbar;
            }
            @media screen and (max-width: 480px) {
            html, body {
            min-width: 320px;
            }
            }
            html {
            box-sizing: border-box;
            }
            *, *:before, *:after {
            box-sizing: inherit;
            }
            body {
            background: #ffffff;
            }
            /* Type */
            html {
            font-size: 18pt;
            }
            @media screen and (max-width: 1680px) {
            html {
            font-size: 14pt;
            }
            }
            @media screen and (max-width: 1280px) {
            html {
            font-size: 12pt;
            }
            }
            @media screen and (max-width: 736px) {
            html {
            font-size: 11pt;
            }
            }
            @media screen and (max-width: 360px) {
            html {
            font-size: 10pt;
            }
            }
            body {
            background-color: #ffffff;
            color: #000000;
            }
            body { 
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.65;
            }
            a {
            -moz-transition: color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            text-decoration: underline;
            }
            a:hover {
            text-decoration: none;
            }
            p {
            margin: 0 0 2rem 0;
            }
            h2 {
            font-weight: 300;
            line-height: 1.375;
            letter-spacing: -0.01em;
            margin: 0 0 1rem 0;
            }
            h2 {
            font-size: 2.25rem;
            }
            @media screen and (max-width: 736px) {
            h2 {
            font-size: 2rem;
            }
            }
            a {
            color: #000000;
            }
            a:hover {
            color: #47D3E5;
            }
            h2 {
            color: #000000;
            }
            /* Row */
            /* Box */
            /* Button */
            .button {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            border: 0;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            letter-spacing: 0.125em;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 0.75rem;
            max-width: 20rem;
            height: 3.75em;
            line-height: 3.75em;
            border-radius: 3.75em;
            padding: 0 2.5em;
            text-overflow: ellipsis;
            overflow: hidden;
            }
            .button:disabled {
            pointer-events: none;
            opacity: 0.25;
            }
            .button {
            background-color: transparent;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
            color: #000000 !important;
            }
            .button:hover {
            box-shadow: inset 0 0 0 1px #47D3E5;
            color: #47D3E5 !important;
            }
            .button:active {
            background-color: rgba(71, 211, 229, 0.2);
            box-shadow: inset 0 0 0 1px #47D3E5;
            color: #47D3E5 !important;
            }
            /* Form */
            ::-webkit-input-placeholder {
            opacity: 1.0;
            }
            :-moz-placeholder {
            opacity: 1.0;
            }
            ::-moz-placeholder {
            opacity: 1.0;
            }
            :-ms-input-placeholder {
            opacity: 1.0;
            }
            ::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.75) !important;
            }
            :-moz-placeholder {
            color: rgba(0, 0, 0, 0.75) !important;
            }
            ::-moz-placeholder {
            color: rgba(0, 0, 0, 0.75) !important;
            }
            :-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.75) !important;
            }
            /* Icon */
            /* Image */
            .image {
            border: 0;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            }
            .image img {
            display: block;
            border-radius: 4px;
            }
            /* List */
            ul {
            list-style: disc;
            margin: 0 0 2rem 0;
            padding-left: 1rem;
            }
            ul li {
            padding-left: 0.5rem;
            }
            /* Actions */
            ul.actions {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            cursor: default;
            list-style: none;
            margin-left: -1rem;
            padding-left: 0;
            }
            ul.actions li {
            padding: 0 0 0 1rem;
            vertical-align: middle;
            }
            ul.actions.stacked {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-left: 0;
            }
            ul.actions.stacked li {
            padding: 1.3rem 0 0 0;
            }
            ul.actions.stacked li:first-child {
            padding-top: 0;
            }
            @media screen and (max-width: 480px) {
            ul.actions:not(.fixed) {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-left: 0;
            width: 100% !important;
            }
            ul.actions:not(.fixed) li {
            -moz-flex-grow: 1;
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
            -moz-flex-shrink: 1;
            -webkit-flex-shrink: 1;
            -ms-flex-shrink: 1;
            flex-shrink: 1;
            padding: 1rem 0 0 0;
            text-align: center;
            width: 100%;
            }
            ul.actions:not(.fixed) li > * {
            width: 100%;
            }
            ul.actions:not(.fixed) li:first-child {
            padding-top: 0;
            }
            ul.actions:not(.fixed) li .button {
            width: 100%;
            }
            }
            /* Icons */
            /* Section/Article */
            /* Table */
            /* Banner (transitions) */
            /* Banner (style1) */
            /* Banner (style2) */
            /* Banner (style3) */
            /* Banner (style4) */
            /* Banner (style5) */
            /* Spotlight (transitions) */
            .spotlight.onscroll-image-fade-in .image img {
            -moz-transition: opacity 0.75s ease-in-out;
            -webkit-transition: opacity 0.75s ease-in-out;
            -ms-transition: opacity 0.75s ease-in-out;
            transition: opacity 0.75s ease-in-out;
            }
            /* Spotlight (style1) */
            .spotlight.style1 {
            -moz-align-items: -moz-stretch;
            -webkit-align-items: -webkit-stretch;
            -ms-align-items: -ms-stretch;
            align-items: stretch;
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -moz-justify-content: -moz-flex-end;
            -webkit-justify-content: -webkit-flex-end;
            -ms-justify-content: -ms-flex-end;
            justify-content: flex-end;
            position: relative;
            overflow-x: hidden;
            text-align: left;
            }
            .spotlight.style1 .content {
            padding: 7rem 7rem 5rem 7rem ;
            -moz-align-self: center;
            -webkit-align-self: center;
            -ms-align-self: center;
            align-self: center;
            -moz-flex-grow: 1;
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
            -moz-flex-shrink: 1;
            -webkit-flex-shrink: 1;
            -ms-flex-shrink: 1;
            flex-shrink: 1;
            width: 65%;
            max-width: 64rem;
            margin: 0 auto;
            }
            .spotlight.style1 .image {
            -moz-flex-grow: 0;
            -webkit-flex-grow: 0;
            -ms-flex-grow: 0;
            flex-grow: 0;
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            width: 35%;
            min-width: 25rem;
            border-radius: 0;
            }
            .spotlight.style1 .image img {
            -moz-object-fit: cover;
            -webkit-object-fit: cover;
            -ms-object-fit: cover;
            object-fit: cover;
            -moz-object-position: center;
            -webkit-object-position: center;
            -ms-object-position: center;
            object-position: center;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
            }
            @media screen and (max-width: 1680px) {
            .spotlight.style1 .content {
            padding: 5rem 5rem 3rem 5rem ;
            }
            }
            @media screen and (max-width: 1280px) {
            .spotlight.style1 .content {
            padding: 4rem 4rem 2rem 4rem ;
            }
            }
            @media screen and (max-width: 980px) {
            .spotlight.style1 .content {
            padding: 3.75rem 3rem 1.75rem 3rem ;
            width: 50%;
            min-width: 0;
            }
            .spotlight.style1 .image {
            width: 50%;
            min-width: 0;
            }
            }
            @media screen and (max-width: 736px) {
            .spotlight.style1 .content {
            padding: 2.5rem 2rem 0.5rem 2rem ;
            }
            }
            @media screen and (max-width: 736px) and (orientation: portrait) {
            .spotlight.style1 {
            -moz-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            text-align: center !important;
            }
            .spotlight.style1 .content {
            width: 100%;
            }
            .spotlight.style1 .image {
            width: 100%;
            }
            .spotlight.style1 .image img {
            position: relative;
            }
            }
            .spotlight.style1.orient-right {
            -moz-flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            }
            @media screen and (max-width: 736px) and (orientation: portrait) {
            .spotlight.style1.orient-right {
            -moz-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            }
            }
            /* Spotlight (style2) */
            /* Spotlight (style3) */
            /* Spotlight (style4) */
            /* Spotlight (style5) */
            .spotlight .image {
            background-color: rgba(0, 0, 0, 0.125);
            }
            /* Gallery (transitions) */
            /* Gallery (style1) */
            /* Gallery (style2) */
            /* Gallery (lightbox) */
            /* Wrapper (style1) */
            /* Wrapper (style1) */

            .wrapper.style1 > .inner {
                padding: 7rem 3.5rem 5rem 3.5rem ;
                margin: 0 auto;
                max-width: 100%;
                width: 64rem;
            }

                .wrapper.style1 > .inner.medium {
                    width: 48rem;
                }

                .wrapper.style1 > .inner.small {
                    width: 32rem;
                }

            @media screen and (max-width: 1680px) {

                .wrapper.style1 > .inner {
                    padding: 5rem 2.5rem 3rem 2.5rem ;
                }

            }

            @media screen and (max-width: 1280px) {

                .wrapper.style1 > .inner {
                    padding: 4rem 4rem 2rem 4rem ;
                }

            }

            @media screen and (max-width: 980px) {

                .wrapper.style1 > .inner {
                    padding: 4.5rem 3rem 2.5rem 3rem ;
                }

            }

            @media screen and (max-width: 736px) {

                .wrapper.style1 > .inner {
                    padding: 3rem 2rem 1rem 2rem ;
                }

            }

            /* Wrapper (style2) */
            /* Items (transitions) */
            /* Items (style1) */
            /* Items (style2) */
            /* Items (style3) */
            /* Index */
            /* Wrapper */